<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <a class="navbar-brand custom-brand" href="/">Academic Activity Tracker</a>
  <ul class="navbar-nav mr-auto custom-nav">
    <li class="nav-item custom-item">
      <a class="nav-link custom-link" href="/">Home</a>
      <a class="nav-link custom-link" href="/user">All Users</a>
      <a class="nav-link custom-link" href="/task">Tasks</a>
      <a class="nav-link custom-link" href="/projects">Projects</a>
    </li>
  </ul>
</nav>
